.container1 {
    background-color: #f9f5f0;
    font-family: 'Open Sans', sans-serif;
    height: 520px;
    border-radius: 20px;
    padding: 20px;
  }
.card {
    background-color: #f9f5f0;
    margin-left:19%;
    width: 60%;
    margin-top: 3%;
    max-height: 400px;
    display:grid;
    align-items: center;    
}
.title {
    height: 55px;
    text-align: center;
    background-color: #321313;
    border: 0px;
    border-bottom: 3px;
    border-color: #f4991a;
    border-style: groove;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
  }
  .titletext {
    font-size: xx-large;
    color: #f4991a;
  }
  .camp { 
    font-family: 'Open Sans', sans-serif;
    color: #321313;
    font-size: medium;
    margin-left:30%
   

}
.textfield {
    margin-left: 50%;
    margin-top: -28px;
    font-family: 'Open Sans', sans-serif;
    color: #f4991a;
   
  }