.container22 {
  background-color: #f2ead3;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0 auto;
  border-radius: 50px;
  width: 800px;
  height: 900px;
  overflow: auto;
  border: 1px solid #321313 !important;

}
.card {
  display: flex none;
  height: 500px;
  margin-top: 50px;
  margin-left: 15px;
}

.titleText22 {
  font-size: 35px !important;
  padding-top: 7px;
  text-decoration: underline;
}
.dataInceperii {
  margin-left: -66%;
  font-size: 15px;
}
.TextComentarii {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px !important;
}

.ZileRamase {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.ZileRamaseOdihna {
  margin-top: 25px;
}
.ZileRamaseDeces {
  margin-top: 25px;
}
.ZileRamaseMedical {
  margin-top: 25px;
}
.ZileRamaseNeplatite {
  margin-top: 25px;
  align: auto;
}

.dataSfarsitului {
  font-size: 15px;
  margin-left: -66%;
  margin-top: 25px;
}
.title22 {
  
  margin-top: 10px;
  text-align: center;
  height: 35px;
  border-radius: 30px;
  color: #321313;

}

.tipConcediu {
  margin-top: 25px;
}
.Inlocuitor {
  margin-top: 25px;
}

.Comentarii {
  margin-top: 25px;
  display: flex;
}
.TextComentarii {
  font-size: 15px;
  margin-top: 7px;
}
.TextBoxComentarii {
  margin-left: 20px;
}
