.container22 {
  background-color: #f9f5f0;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  width: 800px;
  height: 800px;
}
.card {
}

.titleText22 {
  padding-top: 7px;
}
.dataInceperii {
  font-size: 15px;
}

.dataSfarsitului {
  font-size: 15px;
  margin-top: 25px;
}
.title22 {
  background-color: #321313;
  text-align: center;
  height: 35px;
  border: 1.5px;
  border-style: solid;
  border-color: #f4991a;
  color: #f4991a;
}

.tipConcediu {
  margin-top: 25px;
}
.Inlocuitor {
  margin-top: 25px;
}

.Comentarii {
  margin-top: 25px;
  display: flex;
}
.TextComentarii {
  font-size: 15px;
  margin-top: 7px;
}
.TextBoxComentarii {
  margin-left: 20px;
}
