.container22 {
  background-color: #f2ead3;
  font-family: 'Open Sans', sans-serif !important;
  border-radius: 50px;
  width: 90%;
  height: 70%;
  overflow: auto;
  border: 1px solid #321313 !important;
  padding: 30px;
  padding-bottom: 40px;
  margin: 20px;
  margin-left: 5%;
}

.corpCC {
  display: flex;
}
.card111 {
  
  align-items: 'center';
  text-align: 'center';
  width: 50%;
}
.card222 {
  
  
  align-items: 'center';
  text-align: 'center';
  width: 50%;
}

.titleText22 {
  font-size: 35px !important;
  padding-top: 7px;
  text-decoration: underline;
}
.dataInceperii {
  margin-left: -22%;
  font-size: 15px;
}
.TextComentarii {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 18px !important;
  margin-left: 8%;
}

.ZileRamase {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-left: 8%;
}

.ZileRamaseOdihna {
  margin-top: 25px;
}
.ZileRamaseDeces {
  margin-top: 25px;
}
.ZileRamaseMedical {
  margin-top: 25px;
}
.ZileRamaseNeplatite {
  margin-top: 25px;
  align: auto;
}

.dataSfarsitului {
  font-size: 15px;
  margin-left: -22%;
  margin-top: 25px;
}
.title22 {
  margin-top: 10px;
  text-align: center;
  height: 35px;
  border-radius: 30px;
  color: #321313;
  margin-bottom: 5%;
}

.tipConcediu {
  margin-top: 25px;
  margin-left: 8%;
}
.Inlocuitor {
  margin-top: 25px;
}

.Comentarii {
  margin-top: 25px;
  display: flex;
}
.TextComentarii {
  font-size: 15px;
  margin-top: 7px;
}
.TextBoxComentarii {
  margin-left: 20px;
}

