/* .space{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f5f0;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
} */
.tabela{
    width:70%;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f5f0;
    border:2px solid #321313;
    border-collapse: collapse;
    height:60vh;
    font-family: "Open Sans", sans-serif !important;
    
}

.rand{
    flex:1;  
    border:1px solid #321313;
    border-collapse: collapse;
    justify-content: center;
    font-size: 16pt;
    padding: 10px;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif !important;
}
.celula{
    justify-content: center;
    flex:1;
    font-family: "Open Sans", sans-serif !important;
}
.cap{
    background-color: #321313;
    color: #f4991a;
    font-size: 18pt;
    line-height: 1.5;
}
.cap th{
    border-left: 1px solid #f4991a ;
    border-right: 1px solid #f4991a ;
    font-family: "Open Sans", sans-serif !important;
}
.buttons-container{
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    padding:10px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    
    flex:1;
    box-shadow: 'none';
    background-color: #321313 !important;
    border-color: #321313 !important;
    color: #f4991a !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 8pt !important;
    font-weight: 600 !important;
    
}
.card-container{
    background-color: #f2ead3 !important;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px !important;
    border: 1px solid #321313 !important;

}
.card-header{
    text-align: center;
    font-size: 30pt;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color:#321313;
    line-height: 1;
}

