/* .space{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f9f5f0;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    
} */
@font-face {
    font-family: 'MyFont';
    src:url(https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap);
}
.tabela{
    width:70%;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border:2px solid #321313;
    border-collapse: collapse;
    border-radius: 5px !important;
    height:60vh;
    font-family: 'MyFont';
}

.rand{
    flex:1;  
    border:1px solid #321313;
    border-collapse: collapse;
    justify-content: center;
    font-size: 16pt;
    padding: 10px;
    line-height: 1.5;
    font-family: 'MyFont';
}
.celula{
    justify-content: center;
    flex:1;
    font-family: 'MyFont' !important;
}
.cap{
    background-color: #321313;
    color: #f4991a;
    font-size: 18pt;
    line-height: 1.5;
}
.cap th{
    border-left: 1px solid #f4991a ;
    border-right: 1px solid #f4991a ;
    font-family: 'MyFont';
}
.buttons-container{
    width: 70%;
    display: flex;
    flex-wrap:wrap;
    gap: 15px;
    padding:10px;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}
.buttons{
    
    flex:1;
    box-shadow: 'none';
    background-color: #321313 !important;
    border-color: #321313 !important;
    color: #f4991a !important;
    font-family: 'MyFont' !important;
    
}
.card-container{
    background-color: #f2ead3 !important;
    width:95%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px !important;
    border-image: url(https://i.stack.imgur.com/BqC5N.png) 30 fill / 10px / 5px space;
    font-family: 'MyFont' !important;
}
.card-header{
    text-align: center;
    font-size: 30pt;
    font-family: 'MyFont' !important;
    font-weight: 900;
    color:#321313;
}