.container1{
    background-color: #f9f5f0;
    font-family: 'Open Sans', sans-serif;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
  
   

    
}
.nume{
    padding-top: 30px ;
    font-size: large;
    font-family: 'Open Sans', sans-serif;
    color: #f4991a;
    padding-left: 15px;
    padding-bottom: 15px;
    font-weight: 550;

    

}

.textfield{
    margin-left: 50%;
    margin-top: -19px;
    font-family: 'Open Sans', sans-serif;
    color: #f4991a;
    
}

.title{
    height: 55px;
    text-align: center;
    background-color: #321313;
    border: 0px;
    border-bottom: 3px;
    border-color: #f4991a;
    border-style: groove;
    border-radius: 20px;
    padding: 20px;
}
.titletext{
    
    font-size: xx-large;
    color: #f4991a;
}
.corp{
    display: flex;
}
.card1{
    background-color: #f2ead3;

    width: 50%;
    margin-top: 3%;
    border-radius: 50px 0px 0px 30px;
    border: 0px;
    border-bottom: 3px;
    border-color: #f4991a;
    border-style: groove;
   
   
}

.card2{
    background-color: #f2ead3;

    margin-top: 3%;
    width: 50%;
    border-radius: 0px 50px 30px 0px;
    border: 0px;
    border-bottom: 3px;
    border-color: #f4991a;
    border-style: groove;
    

}
.iconset{
    width:4%
}
.modificare{
    width:17%;
    padding-top: 4px;
    border-style: inset;
    border-color: #f4991a;
    border-width: 2px;
    margin-top: 10px;
    margin-left:80%;
    align-items: right;
    justify-content: right;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    display: flex;
}
.modif{
    
   
    
   
    
}
